
  body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

  thead {
    background-color: #283618;
    color: #fff;
  }

  th, td {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  tr {
    border: 1px solid #A0A0A0;
  }

  th:hover {
    background-color: #B7B7A4;
  }

