<div class="list-container">
  <h2 class="list-title">Entries for: {{ exercise.exerciseName }}</h2>

  <table class="list-table">
    <thead>
    <tr>
      <th>Weights</th>
      <th>Reps</th>
      <th>Sets</th>
      <th>Date</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let entry of entries">
      <td>{{ entry.weights }}</td>
      <td>{{ entry.reps }}</td>
      <td>{{ entry.sets }}</td>
      <td>{{ entry.date | date: 'dd-MM-yyyy' }}</td>
      <td>
        <button class="list-button" (click)="onEditButtonClick(entry.id)">Edit</button>
        <button class="list-button" (click)="onDeleteButtonClick(entry.id)">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>

  <button class="list-button add-entry-btn" (click)="onAddButtonClick()">Add Entry</button>
</div>
