<div class="exercise-list-container">
  <h2>Exercises</h2>

  <input
    class="search-input"
    type="text"
    placeholder="Search"
    [(ngModel)]="searchTerm"
  />

  <table class="list-table">
    <thead>
    <tr>
      <th>Category</th>
      <th>Exercise Name</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let exercise of exercises | search: searchTerm">
      <td>{{ exercise.category }}</td>
      <td>{{ exercise.exerciseName }}</td>
      <td>
        <button class="list-button" (click)="onEntriesButtonClick(exercise)">Entries</button>
        <button class="list-button" (click)="onEditButtonClick(exercise)">Edit</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
