<div class="form-container">
  <h1 class="form-heading">Add Entry to {{ exercise.exerciseName }}</h1>
  <form class="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="weights" class="form-label">Weights</label>
      <input type="text" name="weights" class="form-input" [(ngModel)]="entry.weights">
    </div>
    <div class="form-group">
      <label for="reps" class="form-label">Reps</label>
      <input type="text" name="reps" class="form-input" [(ngModel)]="entry.reps">
    </div>
    <div class="form-group">
      <label for="sets" class="form-label">Sets</label>
      <input type="text" name="sets" class="form-input" [(ngModel)]="entry.sets">
    </div>
    <div class="form-group">
      <label for="date" class="form-label">Date</label>
      <input type="date" name="date" class="form-input" [(ngModel)]="entry.date" useValueAsDate>
    </div>
    <button type="submit" class="form-button">Add Entry</button>
  </form>
</div>
