<div class="contact-container">
    <div class="contact-card">
      <img src="assets/profileFoto.png" alt="Ege Kurt" class="profile-photo">
      <h1>Contact Me</h1>
      <div class="contact-info">
        <p>Email: ege.kurt@tum.de</p>
      </div>
      <div class="social-links">
        <a href="https://github.com/egekurt123" target="_blank" rel="noopener noreferrer">
          <img src="assets/githubLogo.png" alt="GitHub">
        </a>
        <a href="https://instagram.com/ege_kurt_14" target="_blank" rel="noopener noreferrer">
          <img src="assets/instagramLogo.webp" alt="Instagram">
        </a>
      </div>
    </div>
  </div>